<h1>Editing expense category</h1>

<%= render "form", expense_category: @expense_category %>

<br>

<div>
  <%= link_to "Show this expense category", @expense_category %> |
  <%= link_to "Back to expense categories", expense_categories_path %>
</div>
