@import url("http://fonts.cdnfonts.com/css/proxima-nova-2");

* {
  font-family: "Proxima Nova 2", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #3979c3;
  --green: #60b524;
  --gray: #434b54;
  --white: #f1f3f2;
  --lightgray: #f1f3f2;
  --darkgray: #ddd;
}

.navbar {
  background-color: var(--blue);
}

.dollar-icon {
  width: 70px;
  height: 70px;
}

.splash {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-splash {
  background-color: var(--green);
  color: var(--white);
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
}

.form-style {
  display: flex;
  flex-direction: column;
  align-items: center;
}
