<div id="<%= dom_id category %>">
  <p>
    <strong>Name:</strong>
    <%= link_to category.name, category_expense_categories_path(category.id) %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= category.icon %>
  </p>

  <p>
    <strong>Total transaction amount:</strong>
    <%= category.total %>
  </p>

</div>
