<div id="<%= dom_id category %>">
  <p>
    <strong>Name:</strong>
    <%= link_to category.name, category_expenses_path(category) %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= category.icon %>
  </p>

  <p>
    <strong>Total transaction amount:</strong>
  </p>

</div>
