<p style="color: green"></p>

<h1>Categories</h1>

<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
    <%= link_to "Edit", edit_category_path(category)  %>
    <%= button_to "Destroy", category_path(category.id), method: :delete, data: { turbo_confirm: "Are you sure you want to delete #{category.name}"}%>
  <% end %>
</div>

<%= link_to "Add New category", new_category_path %>
