<p style="color: green"></p>

<h1>Expenses</h1>

<div id="expenses">
  <% @expenses.each do |expense| %>
    <%= render expense %>
    <p>
      <%= link_to "Show this expense", category_expense_path(expense.category_id, expense) %>
    </p>
  <% end %>
</div>
